# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.conda/

# Python packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Logs
*.log

# IDE settings
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Run outputs
results/

# Folders
data/
/MMFakeBench_test.zip
/.codex
.lightning_studio
.cursor-server
.vscode-server
.wget-hsts
.windsurf-server
todo.txt
